---
title: Grid Cheat Sheet
---
<div class="full-width-container margin-top-50">
	<div class="wrapper">	
		<div class="pad-wrapper pad-wrapper--columns">
			
			<div class="columns columns--eight">
				<%= image_tag('8col.jpg', :class => "img-responsive") %>
			</div>
			<div class="columns--eight">
				<%= image_tag('8col.jpg', :class => "img-responsive") %>
			</div>
			<div class="columns--eight">
				<%= image_tag('8col.jpg', :class => "img-responsive") %>
			</div>
			<div class="columns--eight">
				<%= image_tag('8col.jpg', :class => "img-responsive") %>
			</div>
			<div class="columns--eight">
				<%= image_tag('8col.jpg', :class => "img-responsive") %>
			</div>
			<div class="columns--eight">
				<%= image_tag('8col.jpg', :class => "img-responsive") %>
			</div>
			<div class="columns--eight">
				<%= image_tag('8col.jpg', :class => "img-responsive") %>
			</div>
			<div class="columns--eight">
				<%= image_tag('8col.jpg', :class => "img-responsive") %>
			</div>
			
		</div><!-- pad-wrapper -->
	</div><!-- wrapper -->
</div><!-- full-width-container -->


<div class="full-width-container">
	<div class="wrapper">
		<div class="pad-wrapper pad-wrapper--columns">
			
			<div class="columns--six">
				<%= image_tag('6col.jpg', :class => "img-responsive") %>
			</div>
			<div class="columns--six">
				<%= image_tag('6col.jpg', :class => "img-responsive") %>
			</div>
			<div class="columns--six">
				<%= image_tag('6col.jpg', :class => "img-responsive") %>
			</div>
			<div class="columns--six">
				<%= image_tag('6col.jpg', :class => "img-responsive") %>
			</div>
			<div class="columns--six">
				<%= image_tag('6col.jpg', :class => "img-responsive") %>
			</div>
			<div class="columns--six">
				<%= image_tag('6col.jpg', :class => "img-responsive") %>
			</div>
			
		</div><!-- pad-wrapper -->
	</div><!-- wrapper -->
</div><!-- full-width-container -->

<div class="full-width-container">
	<div class="wrapper">
		<div class="pad-wrapper pad-wrapper--columns">
			
			<div class="columns--four">
				<%= image_tag('4col.jpg', :class => "img-responsive") %>
			</div>
			<div class="columns--four">
				<%= image_tag('4col.jpg', :class => "img-responsive") %>
			</div>
			<div class="columns--four">
				<%= image_tag('4col.jpg', :class => "img-responsive") %>
			</div>
			<div class="columns--four">
				<%= image_tag('4col.jpg', :class => "img-responsive") %>
			</div>
			
		</div><!-- pad-wrapper -->
	</div><!-- wrapper -->
</div><!-- full-width-container -->


<div class="full-width-container">
	<div class="wrapper">
		<div class="pad-wrapper pad-wrapper--columns">
			
			<div class="columns--three">
				<%= image_tag('3col.jpg', :class => "img-responsive") %>
			</div>
			<div class="columns--three">
				<%= image_tag('3col.jpg', :class => "img-responsive") %>
			</div>
			<div class="columns--three">
				<%= image_tag('3col.jpg', :class => "img-responsive") %>
			</div>
			
		</div><!-- pad-wrapper -->
	</div><!-- wrapper -->
</div><!-- full-width-container -->


<div class="full-width-container">
	<div class="wrapper">
		<div class="pad-wrapper pad-wrapper--columns">
			
			<div class="columns--two">
				<%= image_tag('2col.jpg', :class => "img-responsive") %>
			</div>
			<div class="columns--two">
				<%= image_tag('2col.jpg', :class => "img-responsive") %>
			</div>
			
		</div><!-- pad-wrapper -->
	</div><!-- wrapper -->
</div><!-- full-width-container -->

<div class="full-width-container">
	<div class="wrapper">
		<div class="pad-wrapper">
			<h1>NO GUTTER RESPONSIVE LAYOUT</h1>
		</div><!-- pad-wrapper -->
	</div><!-- wrapper -->
</div><!-- full-width-container -->

<div class="full-width-container margin-top-50">
	<div class="wrapper">	
		<div class="pad-wrapper pad-wrapper--columns">
			
			<div class="span--eight">
				<%= image_tag('8col.jpg', :class => "img-responsive") %>
			</div>
			<div class="span--eight">
				<%= image_tag('8col.jpg', :class => "img-responsive") %>
			</div>
			<div class="span--eight">
				<%= image_tag('8col.jpg', :class => "img-responsive") %>
			</div>
			<div class="span--eight">
				<%= image_tag('8col.jpg', :class => "img-responsive") %>
			</div>
			<div class="span--eight">
				<%= image_tag('8col.jpg', :class => "img-responsive") %>
			</div>
			<div class="span--eight">
				<%= image_tag('8col.jpg', :class => "img-responsive") %>
			</div>
			<div class="span--eight">
				<%= image_tag('8col.jpg', :class => "img-responsive") %>
			</div>
			<div class="span--eight">
				<%= image_tag('8col.jpg', :class => "img-responsive") %>
			</div>
			
		</div><!-- pad-wrapper -->
	</div><!-- wrapper -->
</div><!-- full-width-container -->


<div class="full-width-container">
	<div class="wrapper">
		<div class="pad-wrapper pad-wrapper--columns">
			
			<div class="span--six">
				<%= image_tag('6col.jpg', :class => "img-responsive") %>
			</div>
			<div class="span--six">
				<%= image_tag('6col.jpg', :class => "img-responsive") %>
			</div>
			<div class="span--six">
				<%= image_tag('6col.jpg', :class => "img-responsive") %>
			</div>
			<div class="span--six">
				<%= image_tag('6col.jpg', :class => "img-responsive") %>
			</div>
			<div class="span--six">
				<%= image_tag('6col.jpg', :class => "img-responsive") %>
			</div>
			<div class="span--six">
				<%= image_tag('6col.jpg', :class => "img-responsive") %>
			</div>
			
		</div><!-- pad-wrapper -->
	</div><!-- wrapper -->
</div><!-- full-width-container -->

<div class="full-width-container">
	<div class="wrapper">
		<div class="pad-wrapper pad-wrapper--columns">
			
			<div class="span--four">
				<%= image_tag('4col.jpg', :class => "img-responsive") %>
			</div>
			<div class="span--four">
				<%= image_tag('4col.jpg', :class => "img-responsive") %>
			</div>
			<div class="span--four">
				<%= image_tag('4col.jpg', :class => "img-responsive") %>
			</div>
			<div class="span--four">
				<%= image_tag('4col.jpg', :class => "img-responsive") %>
			</div>
			
		</div><!-- pad-wrapper -->
	</div><!-- wrapper -->
</div><!-- full-width-container -->


<div class="full-width-container">
	<div class="wrapper">
		<div class="pad-wrapper pad-wrapper--columns">
			
			<div class="span--three">
				<%= image_tag('3col.jpg', :class => "img-responsive") %>
			</div>
			<div class="span--three">
				<%= image_tag('3col.jpg', :class => "img-responsive") %>
			</div>
			<div class="span--three">
				<%= image_tag('3col.jpg', :class => "img-responsive") %>
			</div>
			
		</div><!-- pad-wrapper -->
	</div><!-- wrapper -->
</div><!-- full-width-container -->


<div class="full-width-container">
	<div class="wrapper">
		<div class="pad-wrapper pad-wrapper--columns">
			
			<div class="span--two">
				<%= image_tag('2col.jpg', :class => "img-responsive") %>
			</div>
			<div class="span--two">
				<%= image_tag('2col.jpg', :class => "img-responsive") %>
			</div>
			
		</div><!-- pad-wrapper -->
	</div><!-- wrapper -->
</div><!-- full-width-container -->
